@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@1,100&display=swap');

body {
  background-color: white !important;
}

.ui,
.search {
  font-family: Helvetica, sans-serif !important;
}

h1,
h2,
h3,
p,
button,
input,
textarea {
  font-family: 'Montserrat', sans-serif !important;
}

#main {
  display: flex !important;
  height: 100vh !important;
}

.prev {
  display: inline-block !important;
  margin: auto !important;
}

p {
  font-size: 20px !important;
  font-weight: 600 !important;
  margin-top: 40px !important;
}

h1,
h2 {
  font-weight: 900 !important;
  line-height: 1.5 !important;
}

h3 {
  font-weight: 900 !important;
}

.btn-success {
  text-transform: uppercase !important;
  margin-top: 24px !important;
  font-weight: 900 !important;
  background-color: #4cbf73 !important;
  border-radius: 10px !important;
  border-color: #4cbf73 !important;
}

.btn-success:not(.btn-sm) {
  height: 70px !important;
}

.off {
  display: none !important;
}

.on {
  display: flex !important;

}

.input {
  height: 60px;
  width: 290px;
  max-width: 291px;
  border: none !important;
  border-radius: 0.3rem;
  background: none !important;
  font-size: 15px !important;
  font-weight: 600 !important;
  padding-left: 10px !important;
  color: #242424 !important;
  -webkit-box-shadow: 15px 21px 42px 24px rgba(204, 207, 210, 0.2) !important;
  -moz-box-shadow: 15px 21px 42px 24px rgba(204, 207, 210, 0.2) !important;
  box-shadow: 15px 21px 42px 24px rgba(204, 207, 210, 0.2) !important;
}

.input::placeholder {
  color: #242424 !important;
}

.input:focus,
.input:active,
.input:hover {
  border: 1px solid #4cbf73 !important;
  color: #242424 !important;
  outline: 0 !important;
  outline-offset: 0 !important;
  background: none !important;
}

.input:not(:placeholder-shown) {
  border: none !important;
}

.col-12 p {
  color: #4cbf73 !important;
}

.accordion-button:focus {
  box-shadow: none !important;
}

.accordion-button:not(.collapsed) {
  color: #4cbf73 !important;
  background-color: #ffffff !important;
  box-shadow: none !important;
}

.card {
  -webkit-box-shadow: 15px 21px 42px 24px rgba(204, 207, 210, 0.2) !important;
  -moz-box-shadow: 15px 21px 42px 24px rgba(204, 207, 210, 0.2) !important;
  box-shadow: 15px 21px 42px 24px rgba(204, 207, 210, 0.2) !important;
}

#images,
.images {
  justify-content: center !important;
}

#images div,
#images img,
.images div {
  max-height: 300px !important;
  max-width: 300px !important;
}

#images div,
.images div {
  display: flex !important;
  width: 100% !important;
  cursor: pointer !important;
}

#images div:hover {
  background-color: #4cbf73;
}

#images img,
.images label, .images i {
  margin: auto !important;
}

.images .rounded {
  padding: 1em;
  margin: 1em
}

.images input[type=file] {
  outline: 0;
  opacity: 0;
  pointer-events: none;
  user-select: none
}

.images .label {
  width: 120px;
  border: 2px dashed grey;
  border-radius: 5px;
  display: flex;
  padding: 1.2em;
  transition: border 300ms ease;
  cursor: pointer;
  text-align: center
}

.images .label i {
  font-size: 30px;
}

.images .label i,
.images .label {
  color: grey;
  transition: 200ms color
}

.images .label:hover {
  border: 2px solid #4cbf73;
}

.images .label:hover i,
.images .label:hover {
  color: #4cbf73;
}

.spinner-grow {
  background: none !important;
  -webkit-animation: 1.5s linear infinite spinner-grow !important;
  animation: 1.5s linear infinite spinner-grow !important;
  font-weight: 600 !important;
  display: inline-table !important;
  margin-top: 24px !important;
}

.ui.selection.active.dropdown .menu,
.ui.selection.active.dropdown:hover .menu,
.ui.selection.active.dropdown {
  border-color: #4cbf73 !important;
}

.accordion-button:not(.collapsed)::after {
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill='%234cbf73'%3e%3cpath fill-rule='evenodd' d='M1.646 4.646a.5.5 0 0 1 .708 0L8 10.293l5.646-5.647a.5.5 0 0 1 .708.708l-6 6a.5.5 0 0 1-.708 0l-6-6a.5.5 0 0 1 0-.708z'/%3e%3c/svg%3e") !important;
}
